# R Crash Course for ME

## 1. Assignment
The key to assignment in R is the arrow operator (<-) for assignment.

Below are examples of assigning an integer, double, string and a boolean, and printing each out to the console in turn.

In [2]:
# integer
i <- 143
i


# double
d <- 0.8
d


# string
s <- 'A little Hello World'
s


# boolean
b <- False
b

[1] 143

[1] 0.8

[1] "A little Hello World"

ERROR: Error in eval(expr, envir, enclos): object 'False' not found

Remember, do not use equals (=) for assignment. It is the biggest mistake new R programmers make

## 2. Data Structures
There three data structures that you will use the most in R:

- Vectors
- Lists
- Matrices
- Data Frames

**Lists**

Lists provide a group of named items, not unlike a map.

In [5]:
# create a list of named items
a <- list(aa=1, bb=2, cc=3)
a$bb
 
# add a named item to a list
a$dd=4
a$aa

a

[1] 2

[1] 1

$aa
[1] 1

$bb
[1] 2

$cc
[1] 3

$dd
[1] 4

You can define a new list with the list() function. A list can be initialized with values or empty. Note that the named values in the list can be accessed using the dollar operator ($). Once referenced, they can be read or written. This is also how new items can be added to the list.

**Vectors**

Vectors are lists of data that can be the same or different types:

In [6]:
# create a vector using the c() function
v <- c(98, 99, 100)
v
v[1:2]
 
# create a vector from a range of integers
r <- (1:10)
r
r[5:10]
 
# add a new item to the end of a vector
v <- c(1, 2, 3)
v[4] <- 4
v

[1]  98  99 100

[1] 98 99

 [1]  1  2  3  4  5  6  7  8  9 10

[1]  5  6  7  8  9 10

[1] 1 2 3 4